<nav>
    <ul>
        <li><a href="/data/tree_documents.json">tree_documents.json</a></li>
        <li><a href="/data/tree_paths.json">tree_paths.json</a></li>
    </ul>
</nav>

<nav>
    <ul>
        <li>
            <a href="/dokumentaciya-k-mikroservisam.html">Документация к микросервисам</a>
            <ul>
                <li>
                    <a href="/dokumentaciya-k-api-ms-auth.html">Документация к API MS-AUTH</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-ms-cm.html">Документация к API MS-CM</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-ms-cms.html">Документация к API MS-CMS</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-ms-marketing.html">Документация к API MS-MARKETING</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-ms-oms.html">Документация к API MS-OMS</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-ms-pim.html">Документация к API MS-PIM</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-api-vneshnikh-integracii-dlya-prodavcov.html">Документация к API внешних интеграций, для продавцов</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-logistics.html">Документация к Logistics</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-ms-catalog-import.html">Документация к MS CATALOG-IMPORT</a>
                </li>
                <li>
                    <a href="/dokumentaciya-k-platforma.avtorizaciya.html">Документация к "Платформа.Авторизация"</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/dostupy-na-demo-stend-platformy.html">Доступы на демо-стенд платформы</a>
        </li>
        <li>
            <a href="/faq.html">FAQ</a>
            <ul>
                <li>
                    <a href="/kak-sozdat-uspeshnyi-nishevyi-marketpleis.html">Как создать успешный нишевый маркетплейс</a>
                </li>
                <li>
                    <a href="/otvety-na-chasto-zadavaemye-voprosy.html">Ответы на часто задаваемые вопросы</a>
                    <ul>
                        <li>
                            <a href="/back-end.html">Back-end</a>
                        </li>
                        <li>
                            <a href="/bazy-dannykh.html">Базы данных</a>
                        </li>
                        <li>
                            <a href="/front-end.html">Front-end</a>
                        </li>
                        <li>
                            <a href="/obshie-voprosy.html">Общие вопросы</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="/fz-na-platformu.html">ФЗ на платформу</a>
        </li>
        <li>
            <a href="/homepage.html">Навигация</a>
        </li>
        <li>
            <a href="/instrukcii-po-rabote-po-lennuf.html">Инструкции по работе ПО LENNUF</a>
            <ul>
                <li>
                    <a href="/instrukcii-k-modulyu-dostupy.html">Инструкции к модулю "Доступы"</a>
                </li>
                <li>
                    <a href="/instrukcii-k-modulyu-kommunikacii.html">Инструкции к модулю "Коммуникации"</a>
                    <ul>
                        <li>
                            <a href="/redaktirovanie-shablona-pisma.html">Редактирование шаблона письма</a>
                        </li>
                        <li>
                            <a href="/sozdanie-avtonotifikacii.html">Создание автонотификации</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/instrukcii-k-modulyu-marketing.html">Инструкции к модулю "Маркетинг"</a>
                    <ul>
                        <li>
                            <a href="/sozdanie-promokoda.html">Создание промокода</a>
                        </li>
                        <li>
                            <a href="/sozdanie-skidki.html">Создание скидки</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-redirektov.html">Инструкции по работе с модулем редиректов</a>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-seo-tegov.html">Инструкции по работе с модулем SEO тегов</a>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-tovary.html">Инструкции по работе с модулем "Товары"</a>
                    <ul>
                        <li>
                            <a href="/sozdanie-brenda.html">Создание бренда</a>
                        </li>
                        <li>
                            <a href="/sozdanie-kategorii.html">Создание категорий</a>
                        </li>
                        <li>
                            <a href="/sozdanie-tovara.html">Создание товара</a>
                        </li>
                        <li>
                            <a href="/sozdanie-tovarnogo-atributa.html">Создание товарного атрибута</a>
                        </li>
                        <li>
                            <a href="/sozdanie-tovarnoi-gruppy.html">Создание товарной группы</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-veb-vitrina-cms.html">Инструкции по работе с модулем Веб-витрина (CMS)</a>
                    <ul>
                        <li>
                            <a href="/kak-izmenit-informaciyu-v-futere-saita.html">Как изменить информацию в футере сайта</a>
                        </li>
                        <li>
                            <a href="/kak-izmenit-informaciyu-v-menyu-pomosh.html">Как изменить информацию в меню "Помощь"</a>
                        </li>
                        <li>
                            <a href="/kak-izmenit-logotip-na-vitrine-saita.html">Как изменить логотип на витрине сайта</a>
                        </li>
                        <li>
                            <a href="/kak-izmenit-punkty-menyu-na-vitrine-saita.html">Как изменить пункты меню на витрине сайта</a>
                        </li>
                        <li>
                            <a href="/kak-pomenyat-temu-i-stil-vitriny-cveta.html">Как поменять тему и стиль витрины (цвета)</a>
                        </li>
                        <li>
                            <a href="/kak-sozdat-akciyu-dlya-razdela-akcii.html">Как создать акцию (для раздела "Акции")</a>
                        </li>
                        <li>
                            <a href="/kak-sozdat-banner.html">Как создать баннер</a>
                        </li>
                        <li>
                            <a href="/kak-sozdat-i-naznachit-tovarnyi-shildik.html">Как создать и назначить товарный шильдик</a>
                        </li>
                        <li>
                            <a href="/kak-sozdat-lukbuk.html">Как создать лукбук</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-vozvraty.html">Инструкции по работе с модулем "Возвраты"</a>
                    <ul>
                        <li>
                            <a href="/nastroika-spravochnika-prichin-vozvrata.html">Настройка справочника причин возврата</a>
                        </li>
                        <li>
                            <a href="/sozdanie-prichiny-vozvrata.html">Создание причины возврата</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/instrukcii-po-rabote-s-modulem-zakazy.html">Инструкции по работе с модулем "Заказы"</a>
                    <ul>
                        <li>
                            <a href="/prichiny-problem.html">Причины проблем</a>
                        </li>
                        <li>
                            <a href="/spisok-zakazov.html">Список заказов</a>
                        </li>
                        <li>
                            <a href="/statusy-zakazov.html">Статусы заказов</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="/instrukciya-po-podache-zayavok-v-tekhpodderzhku.html">Инструкция по подаче заявок в техподдержку</a>
        </li>
        <li>
            <a href="/paket-dokumentov-zapuska.html">Пакет документов запуска</a>
            <ul>
                <li>
                    <a href="/anketa-zakazchika.html">Анкета заказчика</a>
                </li>
                <li>
                    <a href="/cjm-ajm-mjm-rjm.html">CJM, AJM, MJM, RJM</a>
                </li>
                <li>
                    <a href="/pamyatka-zapuska.html">Памятка запуска</a>
                </li>
                <li>
                    <a href="/trebovaniya-k-kontentu.html">Требования к контенту</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/tekhnicheskoe-opisanie-platformy.html">Техническое описание платформы</a>
        </li>
        <li>
            <a href="/trebovaniya-k-foto.html">Требования к фото</a>
        </li>
    </ul>
</nav>